/* 
general 
-------
*/
body {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
}

.container-fluid {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.container-fluid-card {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 15px;
}

.container-fluid-header {
    margin-left: 0 auto;
    max-width: 1700px;
    padding: 0 15px;
}

.ant-layout {
    background: #fff !important;
}

.mainLayout .ant-layout-header {
    background: black;
    height: auto;
    line-height: 1.6;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.bgGray {
    background: rgb(33, 33, 33);
}

.bgLightGray {
    background: rgb(47, 47, 47);
}

.non-copyable {
    user-select: none;
}

/* Custom Scrollbar Styles */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(23, 23, 23);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* 
title holder
------------
*/
.titleHolder {
    text-align: center;
    position: relative;
    padding: 0 0 20px;
    margin: 0 0 40px;
    color: white;
}

.titleHolder:after {
    transform: translateX(-50%);
    content: '';
    background: grey;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 100px;
}

.titleHolder h2 {
    font-size: 30px;
    margin: 0;
}

/* 
header
------ 
*/
.ant-layout-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.header {
    align-items: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.header::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    pointer-events: none;
    opacity: 0.4;
}

.ant-layout-header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    pointer-events: none;
}


.header .buttons {
    display: flex;
    align-items: center;
}

.header .text-button {
    color: white;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-size: 20px;
    padding: 25px 40px;
}

.header .text-button1:hover {
    color: gray !important;
    transition: background-color 0.3s, color 0.3s;
}

.header .logo {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
}

.header .logo .fas {
    color: white;
    margin: 0 5px 0 0;
    font-size: 28px;
}

.header .logo a {
    color: #333;
}

.header .ant-anchor-wrapper {
    background: none;
}

.header .ant-anchor {
    display: flex;
}

.header .ant-anchor-ink {
    display: none;
}

.css-dev-only-do-not-override-190m0jy.ant-anchor-wrapper:not(.ant-anchor-wrapper-horizontal) .ant-anchor .ant-anchor-ink {
    background-color: rgba(44, 38, 38, 0);
}

.header .ant-anchor-link {
    padding: 0 20px;
    margin-right: 20px;
    line-height: 1.4;
    position: relative;
}

.header .ant-anchor .ant-anchor-link-title {
    color: white;
}

.header .ant-anchor-link .ant-anchor-link-title {
    font-size: 22px;
}

.header .ant-anchor-link.ant-anchor-link-active>.ant-anchor-link-title {
    color: gray;
}

.header .ant-anchor-link:before,
.header .ant-anchor-link:after {
    content: '';
    background: gray;
    width: 2px;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 30%;
    opacity: 0;
    transition: all 0.3s linear;
    transform: translateX(7.5px);
    border-radius: 2px;
}

.header .ant-anchor-link:after {
    left: auto;
    right: 30%;
}

.header .ant-anchor-link.ant-anchor-link-active .ant-anchor-link-title,
.header .ant-anchor-link:hover .ant-anchor-link-title {
    color: gray;
}

.header .ant-anchor-link.ant-anchor-link-active:before,
.header .ant-anchor-link:hover:before {
    left: 1%;
    opacity: 1;
}

.header .ant-anchor-link.ant-anchor-link-active:after,
.header .ant-anchor-link:hover:after {
    right: 1%;
    opacity: 1;
}

/* form */

.ant-form-item-required:before {
    display: none !important;
}

:where(.css-dev-only-do-not-override-190m0jy).ant-col-24.ant-form-item-label{
    padding: 0;
}

/* ant menu */
.header .ant-menu {
    border: 0;
    background: none !important;
}

.header .ant-menu li.ant-menu-item {
    position: relative;
    color: white;
}

.header .ant-menu li.ant-menu-item:before,
.header .ant-menu li.ant-menu-item:after {
    content: '';
    background: yellow;
    width: 1px;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 30%;
    opacity: 0;
    transition: all 0.3s linear;
}

.header .ant-menu li.ant-menu-item:after {
    left: auto;
    right: 30%;
}

.header .ant-menu li.ant-menu-item,
.header .ant-menu li.ant-menu-item-selected {
    border: 0 !important;
}

.header .ant-menu li.ant-menu-item-selected,
.header .ant-menu li.ant-menu-item:hover {
    color: rgb(164, 164, 164) !important;
    background: none;
}

.header .ant-menu li.ant-menu-item-selected:before,
.header .ant-menu li.ant-menu-item:hover:before {
    border-bottom-color: gray;
    left: 0;
    opacity: 1;
}

.header .ant-menu li.ant-menu-item-selected:after,
.header .ant-menu li.ant-menu-item:hover:after {
    border-bottom-color: gray;
    right: 0;
    opacity: 1;
}

/* ant tab */

.ant-tabs {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    background-color: rgb(47, 47, 47);
    ;
}

.ant-tabs-tab-btn {
    color: white;
}

.ant-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: gray !important;
}

.ant-tabs-nav .ant-tabs-tab::before {
    content: '';
    background: gray;
    width: 2px;
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
    border-radius: 2px;
    transform: translateX(8px);
    transform-origin: right center;
}

.ant-tabs .ant-tabs-ink-bar {
    display: none;
}

/* Show the tab indicator when hovering or when the tab is active */
.ant-tabs-nav .ant-tabs-tab:hover::before,
.ant-tabs-nav .ant-tabs-tab-active::before {
    opacity: 1;
}

/* 
hero
---- 
*/
.heroBlock {
    margin-top: 25px;
    background: url('../../assets/images/Earth_1.jpg') no-repeat;
    background-position: 50% 100%;
    background-size: cover;
    height: 100vh;
}

.heroBlock .container-fluid {
    display: block !important;
}

.heroBlock h1 {
    color: #fff;
    font-size: 260px;
    line-height: 1.6;
    margin: 0 0 30px;
    animation-name: fadeIn;
    animation-duration: 5s;
    display: flex;
    justify-content: center;
}

@keyframes fadeIn {
    from {
        color: transparent;
    }

    to {
        color: white;
    }
}

.heroBlock p {
    color: #fff;
    font-size: 30px;
    line-height: 0.5;
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    animation-name: fadeIn;
    animation-duration: 10s;
}

.heroBlock Button {
    display: flex;
    justify-content: center;
}

.custom-font {
    font-family: 'open sans', sans-serif;

}

/* 
projects
----- 
*/

.projectsBlock {
    margin: 0px;
}

.projectsBlock h1 {
    font-size: 50px;
    color: white;
}

.projectsBlock .ant-card-head-title {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
}

.card {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.card:hover {
    transform: scale(1.15);
    transition-delay: 0.3s;
    box-shadow: 10px 20px 16px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.card-content {
    padding: 10px;
}

.card-title {
    font-size: 20px;
}

.card-description {
    font-size: 16px;
    line-height: 1.5;
}

.card-section {
    display: flex;
    justify-content: space-around;
}

/* 
block
----- 
*/
.block {
    padding: 60px 0;
    border-bottom: 2.5px solid Black;
}

/* 
about
----- 
*/
.aboutBlock .contentHolder {
    text-align: center;
    margin: 0 0 50px;
}

.aboutBlock .avatarWithRole {
    color: white;
    font-size: 30px;
}

.aboutBlock .content {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

/* 
faqs
----
*/
.faqBlock .ant-collapse {
    margin: 0 0 40px;
}

.faqBlock .quickSupport {
    text-align: center;
    max-width: 740px;
    margin: auto;
}

.faqBlock .fas {
    margin: 0 10px 0 0;
}

/* 
pricing block
-------------
*/
.pricingBlock .ant-list {
    text-align: center;
}

.pricingBlock .ant-row>div:nth-child(2) .ant-list-item {
    box-shadow: 0 0 12px 2px black;
    transform: scale(1.1);
    position: relative;
    z-index: 1;
}

.pricingBlock .ant-card-head-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
}

.pricingBlock .large {
    font-size: 38px;
    line-height: 1;
    margin: 0 0 20px;
}

.pricingBlock .fab {
    margin: 0 10px 0 0;
}

/* 
contact
-------
*/
.contactBlock .ant-form {
    max-width: 640px;
    margin: auto;
}

.contactBlock .ant-form textarea {
    min-height: 120px;
    height: 120px;
}

/* 
footer
------
*/
.ant-layout-footer {
    background: #111 !important;
    color: #fff !important;
    padding: 10px 0 !important;
    text-align: center;
}

.footer .logo {
    font-size: 22px;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.footer .fas {
    color: white;
    font-size: 28px;
    margin: 0 5px 0 0;
}

.footer .logo a {
    color: #fff;
}

.footer .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 24px;
}

.footer .socials li {
    margin: 0 20px;
}

.footer .socials a {
    color: #fff;
}

.footer .socials a:hover {
    color: grey;
}

.footer .goTop:hover {
    opacity: 0.7;
}

.footer .copyright {
    color: white;
    margin-bottom: 20px;
}

.mobileVisible {
    display: none;
}

.mobileHidden {
    display: block;
}

/* 
responsive
----------
*/
@media only screen and (max-width: 991px) {
    .pricingBlock .ant-row>div:nth-child(2) .ant-list-item {
        transform: scale(1.14);
    }
}

@media only screen and (max-width: 767px) {
    .pricingBlock .ant-row>div:nth-child(2) .ant-list-item {
        transform: scale(1);
    }

    .mobileVisible {
        display: block;
    }

    .mobileHidden {
        display: none;
    }
}

@media (min-width: 480px) {

    .card {
        width: 100%;
        max-width: 35%;
        margin: 0 auto;
        margin-bottom: 30px;
        transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .card:hover {
        transform: scale(1.15);
        transition-delay: 0.3s;
        box-shadow: 10px 20px 16px rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    .card-title {
        font-size: 18px;
    }

    .card-description {
        font-size: 11px;
        line-height: 1.5;
    }

    .card-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .header .text-button {
        font-size: 10px;
        padding: 15px 20px;
    }

    .header .ant-anchor-link .ant-anchor-link-title {
        font-size: 12px;
    }

    .heroBlock {
        height: 55vh;
    }

    .heroBlock .responsive-text p {
        font-size: 20px;
    }

    .heroBlock .responsive-text h1 {
        font-size: 85px;
    }

    .aboutBlock .responsive-text p {
        font-size: 14px;
    }

    .aboutBlock .responsive-text h1 {
        font-size: 18px;
    }
}

@media (min-width: 576px) {

    .card {
        width: 100%;
        max-width: 35%;
        margin: 0 auto;
        margin-bottom: 30px;
        transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .card:hover {
        transform: scale(1.15);
        transition-delay: 0.3s;
        box-shadow: 10px 20px 16px rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    .card-title {
        font-size: 18px;
    }

    .card-description {
        font-size: 11px;
        line-height: 1.5;
    }

    .card-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .header .text-button {
        font-size: 15.5px;
        padding: 15px 20px;
    }

    .header .ant-anchor-link .ant-anchor-link-title {
        font-size: 17.5px;
    }

    .heroBlock {
        height: 60vh;
    }

    .heroBlock .responsive-text p {
        font-size: 25px;
    }

    .heroBlock .responsive-text h1 {
        font-size: 110px;
    }

    .aboutBlock .responsive-text p {
        font-size: 19px;
    }

    .aboutBlock .responsive-text h1 {
        font-size: 24px;
    }
}

@media (min-width: 768px) {

    .card {
        width: 100%;
        max-width: 35%;
        margin: 0 auto;
        margin-bottom: 30px;
        transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .card:hover {
        transform: scale(1.15);
        transition-delay: 0.3s;
        box-shadow: 10px 20px 16px rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    .card-title {
        font-size: 18px;
    }

    .card-description {
        font-size: 11px;
        line-height: 1.5;
    }

    .card-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .header .text-button {
        font-size: 20px;
        padding: 25px 40px;
    }

    .header .ant-anchor-link .ant-anchor-link-title {
        font-size: 22px;
    }

    .heroBlock {
        height: 69vh;
    }

    .heroBlock .responsive-text p {
        font-size: 30px;
    }

    .heroBlock .responsive-text h1 {
        font-size: 150px;
    }

    .aboutBlock .responsive-text p {
        font-size: 22px;
    }

    .aboutBlock .responsive-text h1 {
        font-size: 32px;
    }
}

@media (min-width: 992px) {

    .card {
        width: 100%;
        max-width: 220px;
        margin: 0 auto;
        margin-bottom: 20px;
        transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .card:hover {
        transform: scale(1.15);
        transition-delay: 0.3s;
        box-shadow: 10px 20px 16px rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    .card-title {
        font-size: 18px;
    }

    .card-description {
        font-size: 11px;
        line-height: 1.5;
    }

    .card-section {
        display: flex;
        justify-content: space-around;
    }

    .heroBlock {
        height: 80vh;
    }

    .heroBlock .responsive-text p {
        font-size: 38px;
    }

    .heroBlock .responsive-text h1 {
        font-size: 190px;
    }

    .aboutBlock .responsive-text p {
        font-size: 24px;
    }

    .aboutBlock .responsive-text h1 {
        font-size: 35px;
    }
}

@media (min-width: 1200px) {

    .card {
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
        margin-bottom: 20px;
        transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .card:hover {
        transform: scale(1.15);
        transition-delay: 0.3s;
        box-shadow: 10px 20px 16px rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    .card-section {
        display: flex;
        justify-content: space-around;
    }

    .card-title {
        font-size: 20px;
    }

    .card-description {
        font-size: 16px;
        line-height: 1.5;
    }

    .header .content {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
    }

    .heroBlock {
        height: 100vh;
    }

    .heroBlock .responsive-text p {
        font-size: 42px;
    }

    .heroBlock .responsive-text h1 {
        font-size: 250px;
    }

    .aboutBlock .responsive-text p {
        font-size: 26px;
    }

    .aboutBlock .responsive-text h1 {
        font-size: 28px;
    }
}