/* 
general 
-------
*/
body {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
}

.containerFluid {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;

}

.containerFluidHeader {
    margin: 0 auto;
    max-width: 1700px;
    padding: 0 15px;
}

.ant-layout {
    background: #fff !important;
}

.mainLayout .ant-layout-header {
    background: black;
    padding: 0;
    height: auto;
    line-height: 1.6;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.bgGray {
    background: rgb(33, 33, 33);
}

.bgLightGray {
    background: rgb(47, 47, 47);
}

/* 
header
------ 
*/
.ant-layout-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

.header {
    align-items: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    height: 100px;
    user-select: none;
}

.header::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    pointer-events: none;
    opacity: 0.2;
}

.header .logo {
    color: white !important;
    font-size: 60px;
    font-weight: bold;
}

.header .buttons {
    display: flex;
    align-items: center;
}

.header .textButton {
    color: white;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-size: 22px;
    padding: 25px 40px;
}

.header .textButton:hover {
    color: gray !important;
    transition: background-color 0.3s, color 0.3s;
}

/* 
sidebar
------ 
*/

.sidebarBlock {
    margin-top: 100px;
}

/* 
Map
------ 
*/

.MapContainer {
    position: relative;
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MapContainer .google-map-container {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.SelectButtoncontainer {
    position: absolute;
    top: 15px;
    left: 200px;
    z-index: 1;
}

.Buttoncontainer {
    position: absolute;
    bottom: 3vh;
    right: 50%;
    bottom: 5%;
    z-index: 1;
}

.Buttoncontainer button {
    color: rgb(91, 86, 86);
    background-color: white;
    font-size: 30px;
    width: 150%;
    height: 150%;
}

.Buttoncontainer button:hover {
    color: rgb(110, 110, 110) !important;
    background-color: white !important;
    transform: scale(1.05);
}

/* 
Result
------ 
*/

.resultBlock {
    margin-top: 15px;
    background-color: none;
    min-height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultCard {
    margin-bottom: 30px;
    background: white;
    border: 3px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    width: 80%;
    height: 40vh;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.resultCard:hover {
    transform: scale(1.05);
    box-shadow: 10px 20px 16px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.resultBlock .title {
    margin-top: 0;
    margin-bottom: 2.5vh;
    color: white;
    font-size: 100px;
}

.cardBlock {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.DownloadMap {
    margin-left: 3vh;
    max-width: 90%;
    max-height: 90%;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.dataContainer {
    margin-right: 3vh;
    background-color: none;
    height: 90%;
    width: 60%;
    display: flex;
    justify-self: space-around;
}

.scoreContainer {
    margin-top: 10px;
}

.scoreContainer h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bolder;
}

.scoreContainer h2 {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 20px;
}

.scoreContainer p {
    margin-left: 15px;
}

.advantagedisadvantagecontainer {
    flex-grow: 1;
    margin-left: 4vh;
    background-color: none;
    height: 90%;
    width: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.advantagedisadvantagecontainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.advantagedisadvantagecontainer::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.advantagedisadvantagecontainer {
    scrollbar-width: thin;
    scrollbar-color: #888 #fff;
}

.advantagedisadvantagecontainer::-webkit-scrollbar-track {
    background: white;
}

.advantagedisadvantagecontainer::-webkit-scrollbar-thumb {
    background-color: #888;
}

.advantagedisadvantagecontainer::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.advantageData {}

.disadvantageData {}

.noHistoryCard {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
    align-items: center;
}

.noHistoryCard p {
    font-size: 100px;
    color: #333;
    margin: 0;
}

/* 
responsive
------ 
*/

@media (min-width: 480px) {

    .ResponsiveMap {
        width: 100%;
        height: 750px;
    }

}

@media (min-width: 576px) {

    .ResponsiveMap {
        width: 100%;
        height: 850px;
    }
}

@media (min-width: 768px) {

    .ResponsiveMap {
        width: 100%;
        height: 950px;
    }
}

@media (min-width: 992px) {


    .ResponsiveMap {
        width: 100%;
        height: 1000px;
    }
}

@media (min-width: 1200px) {


    .ResponsiveMap {
        width: 100%;
        height: 1100px;
    }
}